[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h,cpp.in,h.in,java,hpp}]
indent_style = tab
indent_size = 4

[*.{m,mm}]
indent_style = space
indent_size = 4

[*.plist]
indent_style = tab
indent_size = 4

[*.{cmake}]
indent_style = space
indent_size = 4

[CMakeLists.txt]
indent_style = space
indent_size = 4

[*.{py}]
indent_style = space
indent_size = 4

[*.{js,ts}]
indent_style = space
indent_size = 2

[*air*.ts]
indent_style = space
indent_size = 4
